nav{
    background:#222;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-size:18px;
}

.container{
    width:90%;
    margin:auto;
}

.card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
    margin:20px;
    width:250px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}